.battleWrapper {
    margin: 0 auto;
    width: 93%;
    background-image: url('https://i.ibb.co/SDwfv8g0/05697d1c-24fb-44d9-84c7-b1619422d68f.webp');
    background-blend-mode: overlay;
    background-color: rgb(55, 55, 55);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 60vh;
    border: 1px solid rgb(0, 225, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;

}

.battleWrapper>h2 {
    font-size: 3em;
}



.gameOverMenuWrapper {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 1111;
    background-color: rgba(23, 23, 23, 0.895);
    border-radius: 20px;
    top: 0;
    right: 0;
    translate: -50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid rgb(210, 210, 210);
}

.gameOverMenuWrapper>span {
    margin: 0 auto;
    width: 80%;
    font-size: 2em;
    font-weight: 700;
}

.sideWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.fruitLineWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.fruitWrapper {
    position: relative;
    height: 180px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    line-height: 19px;
    color: rgb(186, 186, 186);
}


.enemy {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(168, 0, 17, 0.559);
}

.ally {
    border: 1px solid rgb(0, 255, 123);
    background-color: rgba(0, 168, 92, 0.559);
}

.fruitWrapper>img:last-of-type {
    max-width: 90px;
    max-height: 100px;
}

.fruitWrapper>span {
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1em;
}




.userImg {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 2000px;
    border: 1px solid red;
    width: 60px;
    height: 60px;
    object-position: top center;
    object-fit: cover;
}

.menuTitle {
    line-height: 1em;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;

}

.empty {
    background-color: gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.empty:hover {
    background-color: rgb(93, 93, 93);
}

.headerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 7px;
}

.headerInfo>h3 {
    font-size: 2em;
}

.headerInfo>span {
    padding: 5px 15px;
    border-radius: 1999px;
    background-color: rgb(17, 17, 17);
}

.titleMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.titleMenu>span {
    text-align: center;
}

.newFightButton {
    width: fit-content;
    margin: auto;
    padding: 20px 80px;
    border-radius: 10px;
    border: none;
    background-color: rgb(5, 51, 150);
    border: 1px solid rgb(238, 255, 0);
    font-size: 1.5em;
    margin: 50px auto 20px auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-weight: 700;
}

.newFightButton:hover {
    background-color: rgb(240, 253, 0);
    color: rgb(0, 11, 36);
    padding: 20px 120px;
}

.resultMessage {
    text-align: center;
    text-transform: uppercase;
}

.fruitNameCard {
    color: rgb(255, 255, 255);
}

@media (max-width: 1150px) {
    .battleWrapper {
        display: none;
    }
}