.OptionWrapper {
    position: relative;
}

.OptionWrapper>span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menuItemDropdownWrapper {
    position: absolute;
    background-color: #f8de3c;
    padding: 5px;
    border-radius: 7px;
    gap: 5px;
    top: 120%;
    width: 170px;
    display: none;
    border: 1px solid #f8de3c;
    z-index: 200;
}

.dropdownItem {
    text-transform: uppercase;
    display: block;
    text-align: left;
    color: rgb(19, 35, 128);
    padding: 5px 10px;
    transition: all 0.1s ease-in-out;
    border-radius: inherit;
}


.dropdownItem:hover {
    background-color: rgb(255, 255, 255, 0.7);
}


.dropItemActive {
    background-color: rgb(20, 20, 163);
    color: #f8de3c;
}

.dropItemActive:hover {
    background-color: rgb(20, 20, 163);
    color: #f8de3c;
}


.menuItemDropdownWrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
}

.OptionWrapper:hover>.menuItemDropdownWrapper {
    display: flex;
    flex-direction: column;
}

.discordButton {
    position: fixed;
    line-height: 1em;
    bottom: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    /* Added: centers icon and text vertically */
    gap: 20px;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 100px;
    background-color: black;
    color: white;
    /* Added: ensures text is visible */
    z-index: 999999999999999999;
    border: 1px solid gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.discordButton:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Style the tooltip text */
.discordButton span {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    /* Prevents text from wrapping */
}

/* Optional: Add animation */
.discordButton span {
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 850px) {

    .fullPageMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 40px;
        position: fixed;
        inset: 0;
        top: 0;
        right: 0;
        z-index: 9999999999;
        width: 100vw;
        height: 100vh;
        background-color: #ffcd07;
        touch-action: none;
        -webkit-overflow-scrolling: auto;
    }

    .mobileMenuButton {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        bottom: 20px;
        right: 20px;
        z-index: 99999999999;
        background-color: #ffcd07;
        color: #022668;
        border-radius: 7px;
    }

    .dropdownItem {
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
    }

    .OptionWrapper:hover>.menuItemDropdownWrapper,
    .OptionWrapper:focus-within>.menuItemDropdownWrapper {
        display: flex;
    }

    .discordButton {
        padding: 15px 30px;
        border-radius: 8px;
        left: 20px;
        bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    }

}