/* NEW DESIGN */


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


header {
    background-color: #F8DE3C;
    height: 35px;
    width: 100%;
    padding: 10px 0 0px 0;
}

.headerDisclouser {
    display: block;
    text-align: center;
    color: #001741;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.colorYellow {
    color: #F8DE3C;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 50px 0;
    gap: 30px;
}

h1 {
    font-size: 100px;
    line-height: 80px;
}

.pageSubTitle {
    display: block;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.navSection {
    width: 90VW;
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuWrapper {
    display: flex;
    gap: 10px;
}

.navSection>img {
    cursor: pointer;
    height: 30px;
}

.mainFull {
    width: 90vw;
    min-height: 30vh;
    margin: auto;
}


.menuOption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    font-weight: 700;
    color: white;
    cursor: pointer;
    padding: 1px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-transform: uppercase;
}

.communityTitle {
    width: 90%;
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    max-width: 800px;
    margin: 50px auto 30px auto;
}



.communitySubTitle {
    width: 90%;
    display: inline-block;
    color: #ffee00;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 80px;
}

.menuOption:hover {
    color: rgb(20, 20, 163);
    background-color: #F8DE3C;
}

.menuOption.isActive {
    background-color: #F8DE3C;
    color: rgb(20, 20, 163);
    /* para contraste se quiseres */
}

main {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    place-items: center;
}


.loadButton {
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
    border: none;
    font-size: 1.2em;
    padding: 10px 55px;
    color: white;
    background-color: #044BD0;
    border-radius: 7px;
    border: 1px solid #F8DE3C;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
}

.loadButton:hover {
    padding: 10px 85px;
    background-color: #F8DE3C;
    color: #001741;
}

footer {
    border-top: 1px solid white;
    padding: 50px 0 50px 0;
    display: flex;
    width: 90%;
    margin: 100px auto 0 auto;
    justify-content: space-between;
}

footer>div>a {
    text-align: center;
    border: none;
    padding: 10px 15px;
    color: rgb(190, 208, 240);
    background-color: #0a2963;
    border-radius: 7px;
    border: 1px solid #3cc3f8;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
}

footer>div>a:hover {
    background-color: #051e4b;
}

.randomWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #001741;
    margin-bottom: 50px;
    min-height: 40vh;
    padding: 50px 20px;
    border-radius: 10px;
    border: 1px solid #dcf83c;
    min-height: 60vh;
    text-align: center;
}

.randomWrapper>h2 {
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    text-align: center;
}

.imageWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
}

.imageWrapper>img:nth-of-type(1) {
    height: 200px;
    width: 200px;
    object-fit: contain;
    object-position: top;
}

.imageWrapper>img:nth-of-type(2) {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 100px;
    width: 100px;
    border-radius: 3000px;
    object-fit: cover;
    object-position: top;
}

.aboutFruitRandom {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    color: #738bb8;
    font-size: 0.9em;
}

.nameFruitRandom {
    font-size: 3em;
    text-align: center;
}

.randomCongrats {
    text-align: center;
    color: #F8DE3C;
    margin-top: 30px;
}

.getFruitButton {
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
    border: none;
    font-size: 1.2em;
    padding: 10px 55px;
    color: white;
    background-color: #044BD0;
    border-radius: 7px;
    border: 1px solid #F8DE3C;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
}


.getFruitButton:hover {
    padding: 10px 85px;
    background-color: #F8DE3C;
    color: #001741;
}


.emailFooter {
    text-align: center;
    font-size: 0.8em;
    color: #77a4f7;
}

.emailFooter>span {
    font-size: 1.2em;
    color: #ffffff;
}

a {
    text-decoration: none;
}


.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* prevent line breaks */
}

.footer-button-wrapper {
    display: flex;
    gap: 20px;
}

.footer-btn {
    cursor: pointer;
    font-weight: 800;
    padding: 10px 15px;
    border: 1px solid rgb(99, 99, 251);
    border-radius: 7px;
    text-align: center;
    align-content: center;
    color: rgb(205, 205, 255);
    font-size: 0.8em;
    transition: all 0.2s ease-in-out;
}

.footer-btn:hover {
    background-color: rgba(54, 118, 255, 0.457);
}


.special-thanks-warpper {
    position: relative;
    display: flex;
    justify-content: center;
}

.special-thanks-box {
    padding: 20px;
    position: absolute;
    width: 300px;
    height: fit-content;
    bottom: 120%;
    right: 50%;
    translate: 50%;
    background-color: rgb(0, 13, 56);
    border: 1px solid rgb(91, 91, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.8em;
}

.special-thanks-box>h4 {
    color: rgb(91, 91, 255);
}

.special-thanks-box>div {
    display: flex;
    max-width: inherit;
    flex-wrap: wrap;
    gap: 10px;
}

.semanticsSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

@media (max-width: 1700px) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }


}


@media (max-width: 1250px) {

    main {
        grid-template-columns: 1fr 1fr;
    }

}


@media (max-width: 1150px) {

    .fruitBattleMenuItem {
        display: none;
    }


}


@media (max-width: 850px) {

    .special-thanks-box {
        width: 100%;
    }

    .special-thanks-box>div {
        justify-content: center;
    }


    .footer-button-wrapper {
        flex-direction: column;
    }

    .footer-btn {
        width: 100%;
    }

    .navSection>img {
        display: none;
    }


    .pageSubTitle {
        width: 80%;
    }

    .menuWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        font-size: 60px;
        line-height: 50px;
        text-align: center;
    }


    .headerDisclouser {
        font-size: 10px;
        letter-spacing: 0px;
    }


    main {
        grid-template-columns: 1fr;
    }

    nav {
        padding: 50px 0;
    }

    .emailFooter {
        margin: 10px 0 20px 0;
    }


    .menuOption {
        padding: 10px 20px;
        border: 1px solid rgb(255, 255, 255);
    }

    .navSection {
        width: 90%;
        margin-top: 20px;
    }

    footer {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 20px;
        width: 90%;
    }
}